@model IQueryable<_05_EFBasic.Models.UserInfo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="@Url.Action("Insert","CRUD")">添加</a>
        <hr />
        <table border="1">
            <tr>
                <th>编号</th>
                <th>姓名</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            @foreach (var userInfo in Model)
            {
                <tr>
                    <td>@userInfo.ID</td>
                    <td>@userInfo.UserName</td>
                    <td>@Html.ActionLink("修改", "Edit", "CRUD", new { id = userInfo.ID }, null)</td>
                    <td>@Html.ActionLink("删除", "Delete", "CRUD", new { id = userInfo.ID }, null)</td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
